{"coord":{
    "lon":36.25,
    "lat":50},
"weather":[{
    "id":804,
    "main":"Clouds",
    "description":"overcast clouds",
    "icon":"04n"}],
"base":"stations",
"main":{
    "temp":15.21,
    "feels_like":13.99,
    "temp_min":15.21,
    "temp_max":15.21,
    "pressure":1013,
    "humidity":46,
    "sea_level":1013,
    "grnd_level":995},
"visibility":10000,
"wind":{
    "speed":7.26,
    "deg":66,
    "gust":13.1},
"clouds":{
    "all":94},
    "dt":1713632751,
    "sys":{
        "country":"UA",
        "sunrise":1713580283,
        "sunset":1713630956},
        "timezone":10800,
        "id":706483,
        "name":"Kharkiv",
        "cod":200}