:root {
    color-scheme: light dark;
  }

* {
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin:0;
    padding:0;
}

/* Typography */
#result h1 {
    font-size: 1.5rem;
    font-weight: 900;
}
.country_name {
    font-size: 1.5rem;
    font-weight: 100;
    margin-right: 0.5rem;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

/*Flex */
html, body {
    height: 100vh;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
}
.weather {
    -webkit-box-flex: 9;
        -ms-flex-positive: 9;
            flex-grow: 9;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.weather .celsius {
    font-size: 2rem;
    margin-top: 0.7rem;
}
main .temperature {
    font-size: 4rem;
    font-weight: 900;
    margin-left: 1rem;
}
.description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 1.5rem;
    font-style: italic ;
}
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 14;
        -ms-flex-positive: 14;
            flex-grow: 14;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: cover;
    -webkit-animation: animatedBackground 100s linear infinite alternate;
            animation: animatedBackground 100s linear infinite alternate;
    text-shadow: 1px 1px 8px #5b5b5b;
}

.city_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.mainicon {
    display: block;
    position: absolute;
    right: 10%;
}
#forecast {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
    padding-top: 1rem;
    -ms-flex-pack: distribute;
        justify-content: space-evenly;
    margin: 0 2rem;
}

.forecast_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}
#forecast .celsius {
    -ms-flex-negative: 2;
        flex-shrink: 2;
}
.wday {
    font-size: 1.2rem;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #A8CFEC;
    width: 18%;
    text-align: left !important;
}
.wsicon {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
#forecast .wsicon img {
    width: 28px;
    height: 28px;
}
.wsdescription {
    -webkit-box-flex: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
}
#forecast .temperature {
    font-weight: 900;
    font-size: 1.2rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right !important;
}
#forecast p span {
    text-align: center;
}

footer button {
    color: #8F8F8F;
    font-size: 1.3em;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
#copyright {
  font-size: .8rem;
  color: #3636368b;
  text-align: center;
}
#forecast td {
    padding: 0.5rem 0;
}

@-webkit-keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

/* Dark mode*/
@media screen and (prefers-color-scheme: light) {
.city_name, main .weather, .description {
    color: #fff;
}
.wsvg {
    -webkit-filter: invert(1.5) sepia(0) saturate(5) hue-rotate(175deg);
            filter: invert(1.5) sepia(0) saturate(5) hue-rotate(175deg);
}
.wday {
    color: #000;
}

}

@media screen and (prefers-color-scheme: dark) {

}

/* Responsive */

@media only screen and (max-width: 767px) {
    /* CSS styles for mobile devices */
  }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS styles for tablet devices */
    #forecast {
        max-width: 80vw;
        min-width: 60vw;
        margin: 0 auto;
    }
  }
  @media only screen and (min-width: 1024px) {
    #forecast {
        max-width: 60vw;
        min-width: 40vw;
        margin: 0 auto;
    }
  }
  
/* Weather states */
/* DAY     NIGHT
01d 	01n 	clear sky
02d 	02n 	few clouds
03d 	03n 	scattered clouds
04d 	04n 	broken clouds
09d 	09n 	shower rain
10d 	10n 	rain
11d 	11n 	thunderstorm
13d 	13n 	snow
50d 	50n 	mist  */

/* DAY BG  */
#state01d {
    background-image: url(/static/images/states_images/day/01d.jpg);
}
#state02d {
    background-image: url(/static/images/states_images/day/02d.jpg);
}
#state03d {
    background-image: url(/static/images/states_images/day/03d.jpg);
}
#state04d {
    background-image: url(/static/images/states_images/day/04d.jpg);
}
#state09d {
    background-image: url(/static/images/states_images/day/09d.jpg);
}
#state10d {
    background-image: url(/static/images/states_images/day/10d.jpg);
}
#state11d {
    background-image: url(/static/images/states_images/day/11d.jpg);
}
#state13d {
    background-image: url(/static/images/states_images/day/13d.jpg);
}
#state50d {
    background-image: url(/static/images/states_images/day/50d.jpg);
}

/* NIGHT BG  */
#state01n {
    background-image: url(/static/images/states_images/night/01n.jpg);
}
#state02n {
    background-image: url(/static/images/states_images/night/02n.jpg);
}
#state03n {
    background-image: url(/static/images/states_images/night/03n.jpg);
}
#state04n {
    background-image: url(/static/images/states_images/night/04n.jpg);
}
#state09n {
    background-image: url(/static/images/states_images/night/09n.jpg);
}
#state10n {
    background-image: url(/static/images/states_images/night/10n.jpg);
}
#state11n {
    background-image: url(/static/images/states_images/night/11n.jpg);
}
#state13n {
    background-image: url(/static/images/states_images/night/13n.jpg);
}
#state50n {
    background-image: url(/static/images/states_images/night/50n.jpg);
}