:root {
    color-scheme: light dark;
  }

* {
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin:0;
    padding:0;
}

/* Typography */
h1 {
    font-size: 2rem;
    font-weight: 900;
}

/*Flex */
html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}
header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
}
section * {
    display: flex;
    justify-content: center;
    align-items: center;
}
p, footer button {
    color: #8F8F8F;
    font-size: 1.3em;
}

footer button {
  flex-grow: 7;
  width: 100vw;
  border:none;
  background: none;
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#copyright {
  font-size: .8rem;
  flex-grow:1;
  color: #3636368b;
  text-align: center;
}

/* Dark mode*/
@media screen and (prefers-color-scheme: light) {
    body, .modal-content {
      background-color: #fff;
    }
    .close {
      color: #B8B8B8;
    }   
    .modal-content header {
      border-bottom: 1px solid #e1e1e1;
    }
    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    }
}

@media screen and (prefers-color-scheme: dark) {
    body, .modal-content {
      background-color: #151515;
    }
    .close {
      color: #9e9e9e;
    }
    .modal-content header {
      border-bottom: 1px solid #6f6f6f;
    }
    .autocomplete-items div:hover {
      background-color: #202020; 
    }
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  form.nosubmit {
    border: none;
    padding: 0;
    width: 95%;
  }

  input.nosubmit {
    width: 95%;
    border: none;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_7_61)"><path d="M11 22C11 22 19.25 14.1818 19.25 8.25C19.25 6.06196 18.3808 3.96354 16.8336 2.41637C15.2865 0.869194 13.188 0 11 0C8.81196 0 6.71354 0.869194 5.16637 2.41637C3.61919 3.96354 2.75 6.06196 2.75 8.25C2.75 14.1818 11 22 11 22ZM11 12.375C9.90598 12.375 8.85677 11.9404 8.08318 11.1668C7.3096 10.3932 6.875 9.34402 6.875 8.25C6.875 7.15598 7.3096 6.10677 8.08318 5.33318C8.85677 4.5596 9.90598 4.125 11 4.125C12.094 4.125 13.1432 4.5596 13.9168 5.33318C14.6904 6.10677 15.125 7.15598 15.125 8.25C15.125 9.34402 14.6904 10.3932 13.9168 11.1668C13.1432 11.9404 12.094 12.375 11 12.375Z" fill="%238D8D8D"/></g><defs><clipPath id="clip0_7_61"><rect width="22" height="22" fill="white"/></clipPath></defs></svg>') no-repeat 13px center;
  }

  input.nosubmit:focus {
    border: none;
    outline: none;
  }
  
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  .modal-content header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 1;
    margin: .8rem 2rem;
    padding: .8rem 0;
  }
  
  /* The Close Button */
  .close {
    float: right;
    font-size: 2rem;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -100vh; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -100vh; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 165%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px 40px;
  cursor: pointer;

}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  color: #ffffff; 
  background-color: #202020;
}
#cityautocomplete-list strong {
  font-weight: 900;
}

#cityautocomplete-list {
  width: 106%;
}